<h1>Source Image and Sizing</h1>

<select (change)="dimensionsChanged($event)">
  <option value="1">32x32</option>
  <option value="2">48x48</option>
  <option value="3">96x48</option>
  <option value="4">48x96</option>
  <option value="5">96x96</option>
</select>

<image-cropper
  #imageCropper
  imageURL="https://raw.githubusercontent.com/BartokW/rxjs-lego/main/src/assets/angular.png"
  [maintainAspectRatio]="true"
  [aspectRatio]="ratio"
  format="png"
  (imageCropped)="imageCropped($event)"
>
</image-cropper>

<ng-container *ngIf="mosaicImageDataURL$ | async">
  <h1>Cropped and Resized Image</h1>
  <img [src]="mosaicImageDataURL$ | async" />
</ng-container>
